@inherits LayoutComponentBase

<div class="page">

    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>

            <div class="sidebar">
                <CustomNavMenu />
            </div>
        </Authorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

