@page "/Guest/List"
@using CoreBusiness
@using HajjManagement.Shared.Pages.Common
@using HajjManagement.Shared.Services
@inject IGenericAPIService<Guest> GuestService
@inject IGenericAPIService<AdministrativeDivision> AdministrativeDivisionService
@inject NavigationManager NavigationManager

<div class="m-0 p-0" dir="rtl">
    <div class="card shadow" dir="rtl">
        <div class="card-header">
            <h3 class="mb-4">الزوار</h3>
        </div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" @onclick="CreateNew"><i class="bi bi-file-earmark-plus-fill"></i> إضافة جديد</button>
            @if (guests == null)
            {
                <p>جاري التحميل...</p>
            }

            else
            {
                <PagedTable TItem="Guest"
                            Items="guests"
                            Language="@language"
                            Columns="@GuestColumns"
                            OnView="ViewGuest"
                            OnEdit="EditGuest" />
            }


        </div>
    </div>

</div>

@code {
    private List<Guest> guests;
    private IEnumerable<AdministrativeDivision> divisions;

    private string language = "Ar";

    protected override async Task OnInitializedAsync()
    {
        guests = (await GuestService.GetAllAsync()).ToList();
        divisions = await AdministrativeDivisionService.GetAllAsync();
        // Additional logic to handle guests data can be added here
        if (guests == null || !guests.Any())
        {
            // Logic to handle situation when no guests are available
            // For example, set default values or notify the user
        }
        else
        {
            // Additional processing of guests can be added here
        }
    }

    private void CreateNew()
    {
        NavigationManager.NavigateTo("/Guest/Form");
    }



    /// <summary>
    /// PageTable Parameters for Guests
    /// </summary>
    /// <returns></returns>
    ///
    bool IsArabic => language == "Ar";

    private List<PagedTable<Guest>.ColumnDefinition<Guest>> GuestColumns => GetGuestColumns();
    private List<PagedTable<Guest>.ColumnDefinition<Guest>> GetGuestColumns()
    {
        return new()
        {
            new() { Title = IsArabic ? "#" : "#", Property = "Id", GetValue = g => g.GuestId },
            new() { Title = IsArabic ? "الاسم" : "Name", Property = "GivenName", GetValue = g => g.GivenName + " " + g.LastName },
            new() { Title = IsArabic ? "العنوان" : "Address", Property = "AdministrativeDivisionId", GetValue = g => g.AdministrativeDivisionId },
            new() { Title = IsArabic ? "المشرف" : "Email", Property = "SupervisorId ", GetValue = g => g.SupervisorId },
            new() { Title = IsArabic ? "الحقيبة" : "Bag", Property = "BagId", GetValue = g => g.BagId },
            // New column for Phone Number
            // new() { Title = IsArabic ? "رقم الهاتف" : "Phone Number", Property = "PhoneNumber", GetValue = g => g.phone },
        };
    }
    // These methods must exist to handle OnView and OnEdit events
    private Task ViewGuest(Guest guest)
    {
        NavigationManager.NavigateTo($"/Guest/Details/{guest.GuestId}");
        return Task.CompletedTask;
    }

    private Task EditGuest(Guest guest)
    {
        NavigationManager.NavigateTo($"/Guest/Form/{guest.GuestId}");
        return Task.CompletedTask;
    }

    /// <summary>
    /// End of PageTable Parameters for Guests
    /// </summary>
    /// <returns></returns>

}
