@page "/User/Roles/{Email}"
@using Microsoft.AspNetCore.Identity

@inject IGenericAPIService<User> UserService
<h3>Roles</h3>
<p>@(Email??"Not Found")</p>
@code {
    [Parameter] public string Email { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = await UserService.GenericEndPointAsync<User>(null,
                                                        version: "v1",
                                                        controller: "User",
                                                        endpoint: $"Email/{Email}",   // 👈 insert directly in path
                                                        method: HttpMethod.Get
                                                    );

        if(user == null)
        {
            // SHOW Error msg
            return;
        }

        //Get user's current roles

        // return base.OnInitializedAsync();
    }
}
