<div class="container error-container">
    <div class="error-message">
        <h1 class="display-4 text-danger">@(Header ?? "")</h1>
        <h2 class="mb-3">@(Message ?? "")</h2>
        <p class="mb-4">@(Details ?? "")</p>
        <a href="/" class="btn btn-primary btn-lg">Go to Home</a>
    </div>
</div>
<style>

    .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 20px;
    }

    .error-message {
        /* max-width: 500px; */
    }
</style>
@code {
    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string Details { get; set; }
}
