@page "/Hotel/Form"
@page "/Hotel/Form/{Id:int?}"

@using CoreBusiness
@using HajjManagement.Shared.Services
@inject IGenericAPIService<Hotel> HotelService
@inject NavigationManager NavigationManager

<div class="card shadow" dir="rtl">
    <div class="card-header">
        <h3>@title</h3>
    </div>
    <div class="card-body">
        <EditForm Model="hotel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="Name" class="form-label">الاسم</label>
                <InputText id="Name" class="form-control" @bind-Value="hotel.Name" />
            </div>

            <div class="mb-3">
                <label for="phone1" class="form-label">الهاتف 1</label>
                <InputText id="phone1" class="form-control" @bind-Value="hotel.Phone1" />
            </div>

            <div class="mb-3">
                <label for="phone2" class="form-label">الهاتف 2</label>
                <InputText id="phone2" class="form-control" @bind-Value="hotel.Phone2" />
            </div>

            <div class="mb-3">
                <label for="Address" class="form-label">العنوان</label>
                <InputText id="Address" class="form-control" @bind-Value="hotel.Address" />
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">الإيميل</label>
                <InputText id="Email" class="form-control" @bind-Value="hotel.Email" />
            </div>

            <button type="submit" class="btn btn-primary"><i class="bi bi-floppy2-fill m-1"></i> @(Id.HasValue && Id.Value > 0 ? "تعديل" : "حفظ")</button>
            <button type="button" class="btn btn-dark" @onclick="onCancel"><i class="bi bi-stop-circle-fill"></i> إلغاء</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }
    private string title = "إضافة بيانات الفنادق";
    private Hotel? hotel = new(); // Field to hold the current AdministrativeDivisionType
    [Inject] IJSRuntime JS { get; set; }


    override protected async Task OnInitializedAsync()
    {

        if (Id.HasValue && Id.Value > 0)
        {
            title = "تعديل بيانات الفنادق";    
            hotel = await HotelService.GetByIdAsync(Id.Value);
        }

    }
    
    private async Task HandleValidSubmit()
    {

        
        if (hotel!.HotelId == 0)
        {
            await HotelService.AddAsync(hotel);
        }
        else
        {
            await HotelService.UpdateAsync(hotel);
        }

        NavigationManager.NavigateTo("/Hotel/List");
    }
    private void onCancel()
    {
        NavigationManager.NavigateTo("/Hotel/List");
    }

    

}
